@tailwind base;
@tailwind components;
@tailwind utilities;
.container { 
    height: 50px;
    position: relative;
    
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
body, html {
    height: 100%;
    margin: 0;
    background-image: url('/img/IMG_20240804_162434_653~2.jpg');
    background-size: cover;
    overflow-x:hidden;
}